@charset "utf-8";

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 30px;
    text-align: left;
    line-height: 2em;
}
.p2 {
    
    background-attachment: fixed;
    color: white;
    background-image: url("imagens/background001.jpg")
}
.p4 {
    background-attachment: fixed;
    background-image: url("imagens/background002.jpg");
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}